.viewed-modal {
    &--bg-white {
        padding: 20px 20px 5px 20px;
        background: #ffffff;
    }
    &--active {
        display: block;
    }
    &--inactive {
        display: none;
    }
    &__clear {
        position: absolute;
        right: 7px;
        top: 31px;
        margin: 10px;
        padding: 7px;
        cursor: pointer;
        z-index: 9;
    }
    &__clear--font {
        font-family: 'Montserrat',sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.42857143;
        letter-spacing: 0.5px;
        font-style: normal;
        color: #303030;
        &:hover {
            color: #000;
        }
    }
    &__wrapper {
        height: 284px;
    }
    .product-item {
        display: inline-block;
        min-width: 180px;
        width: 10%;
        height: auto;
        margin-right: 50px;
        margin-bottom: 20px;
        text-align: center;
        white-space: normal;
        &-details {
            margin: 5px 0;
        }
        &-name {
            font-family: 'Open Sans',sans-serif;
            font-size: 14px;
            letter-spacing: 0.3px;
            font-weight: bold;
            text-align: center;
            line-height: normal;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            word-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            outline: none;
            color: #000;
            .m2-title{
                display: block;
                font-size: 12px;
                text-transform: uppercase;
                color: #073756;
            }
        }
        &-link {
            color: #000;
            text-decoration: none;
        }
    }
}

#viewed-modal.animated {
    animation-duration: 0.5s;
}

#viewed-modal.slideInUpModal {
    animation-name: slideInUpModal;
}

#viewed-modal.slideOutDownModal {
    animation-name: slideOutDownModal;
}

@keyframes slideInUpModal {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOutDownModal {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}
