//
//  Common
//  _____________________________________________

& when (@media-common =true) {




    .foother {
        background-color: #01007f;

        .contenedor-espacio {
            padding-top: 4rem;

            .contenedor-espacio1 {
                margin-bottom: 3rem;
                display: flex;
                flex-wrap: wrap;
                margin-right: -7px;
                margin-left: 6px;
                box-sizing: border-box;

                .colunna1 {
                    margin-bottom: 3rem !important;
                    flex: -8 0 100%;
                    max-width: 100%;
                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    .imagen1 {
                        margin-left: -1rem;
                        width: 150px;
                        height: 100px;
                    }

                    .tres {
                        display: grid;
                        margin-bottom: 1.5rem;

                        .a-numerom {
                            margin-bottom: 2rem;
                            color: rgba(255, 255, 255, .7);
                            text-decoration: none;
                            font-size: -0.125rem;
                            font-family: 'Outfit';

                            &:hover {
                                color: white;
                            }
                        }

                        .footer-img {
                            margin-left: -10px;
                        }
                    }

                    .img-two {
                        margin-left: -1rem;
                    }
                }


                .colunna2 {
                    margin-bottom: 3rem;
                    flex: 0 0 50%;
                    max-width: 50%;
                    position: relative;
                    width: 100%;

                    .h4-texto {
                        color: #fff;
                    }

                    .listas {
                        padding: 0px;

                        .li-2 {
                            margin-left: 13px;
                        }

                        li {
                            list-style: none;
                            margin-bottom: 20px;
                            margin: 13px;

                            .a-numerom2 {
                                margin-bottom: 2rem;
                                color: rgba(255, 255, 255, .7);
                                list-style: none;
                                text-decoration: none;
                                font-size: -0.125rem;

                                font-family: 'Outfit';

                                &:hover {
                                    color: white;
                                }
                            }
                        }
                    }
                }

                .rojo {

                    position: relative;
                    width: 76%;
                    padding-right: 17px;
                    padding-left: 18px;
                    margin-left: 7px;
                    top: 78px;



                    .tex-subs {
                        color: #fff;
                        font-size: -0.125rem;
                        position: relative;
                        bottom: 80px;
                    }

                    .titulo-lista {
                        color: rgba(255, 255, 255, .7);
                        font-size: -0.125rem;

                    }

                    .redes-sociales {
                        display: flex;


                        .bi {
                            color: rgb(181, 178, 178);
                            margin-right: 20px;

                            &:hover {}

                        }

                    }


                    .lista-redes {


                        .list-li {}
                    }

                }
            }

            .contenedor-dos {
                padding-bottom: 2rem;
                padding-top: 2rem;
                align-items: center;
                display: flex;
                margin-right: -15px;
                margin-left: -15px;
                margin-top: 66px;

                .corto {
                    flex: 0 0 41.66667%;
                    max-width: 41.66667%;
                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    .dentro {
                        color: #77838f;
                        font-size: 85%;
                        font-weight: 400;

                    }
                }

                .largo {
                    color: #77838f;
                    font-size: 85%;
                    font-weight: 400;

                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    .dentro {
                        color: #77838f;
                        font-size: 85%;
                        font-weight: 400;

                    }
                }
            }
        }


    }

}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .page-footer {
        .footer {
            position: absolute;
            top: 125rem;
            border-top: none;

            .newsletter {


                #newsletter {
                    background: #ffffff;
                    background-clip: padding-box;
                    border-top-left-radius: 8px 8px;
                    border-bottom-left-radius: 8px 8px;
                    border: -1px solid #c2c2c2;

                    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    height: 50px;
                    line-height: 1.42857143;
                    padding: 0 9px;
                    vertical-align: baseline;
                    width: 100%;
                    box-sizing: border-box;
                }

                .field {


                    .control {
                        &::before {
                            display: none;
                        }
                    }
                }


                .content {


                    .subscribe {
                        background-color: #39e070;
                        border-radius: 8px;

                    }

                    .icon-subscribe {
                        height: 50px;
                        border: none;
                    }
                }

            }










        }
    }

    .contenedor-espacio1 {


        .rojo {

            margin-left: -4px;
            top: 47px;
        }

    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .page-footer {

        .newsletter {

            #newsletter {
                background: #ffffff;
                background-clip: padding-box;
                border-top-left-radius: 8px 8px;
                border-bottom-left-radius: 8px 8px;
                border: -1px solid #c2c2c2;

                font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 14px;
                height: 50px;
                line-height: 1.42857143;
                padding: 0 9px;
                vertical-align: baseline;
                width: 100%;
                box-sizing: border-box;
            }

            .field {


                .control {
                    &::before {
                        display: none;
                    }
                }
            }


            .content {
                position: relative;
                top: 136px;
                right: 50px;

                .subscribe {
                    background-color: #39e070;
                    border-radius: 8px;

                }

                .icon-subscribe {
                    height: 50px;
                    border: none;
                }
            }

        }
    }



    .one {

        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .contenedor-espacio1 {
        flex-wrap: nowrap;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {

    .page-footer {

        .newsletter {


            #newsletter {}

            .field {}

            .actions {}
        }
    }

    .foother {


        .contenedor-espacio {
            padding-top: 4rem;

            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;


            .contenedor-espacio1 {
                width: 89%;
                margin-bottom: 3rem;
                display: flex;
                flex-wrap: nowrap;
                margin-right: -7px;
                margin-left: 73px;
                box-sizing: border-box;


                .colunna1 {
                    margin-bottom: 3rem !important;
                    flex: -8 0 100%;
                    max-width: 100%;
                    position: relative;
                    width: 100%;
                    padding-right: -54px;
                    padding-left: 15px;

                }

                .colunna2 {

                    margin-bottom: 3rem;
                    flex: 0 0 50%;
                    max-width: 21%;
                    position: relative;
                    width: 51%;


                    .colunna1 {
                        margin-bottom: 3rem;
                        flex: -8 0 100%;
                        max-width: 100%;
                        position: relative;
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;

                    }
                }

                .rojo {

                    position: relative;
                    width: 15%;
                    padding-right: 21px;
                    padding-left: 18px;
                    margin-left: -31px;
                    top: 81px;
                    height: 100px;

                    .titulo-lista {
                        color: rgba(255, 255, 255, .7);
                        font-size: -0.125rem;

                    }

                    .redes-sociales {
                        display: flex;


                        .bi {
                            color: gray;
                            margin-right: 20px;

                        }

                    }
                }

            }

            .contenedor-dos {
                width: 91%;
                padding-bottom: 2rem;
                padding-top: 2rem;
                align-items: center;
                display: flex;
                margin-right: 41px;
                margin-left: 62px;

            }


        }

    }
}