//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    .page-footer .foother .contenedor-espacio {
        padding: 0 15px;
    }
    footer.page-footer {
        padding-bottom: 0;
        .footer.content {
            border-top: none;
            max-width: inherit;
            padding: 0;
            margin: 0;
        }
        .conten_subscribe {
            .tex-subs {
                color: #fff;
            }

            .titulo-lista {
                color: #ffffffb3;
            }

            .redes-sociales {
                color: #ffffffb3;
            }
        }
    }


    .foother {
        background-color: #1b1b1f;
        .newsletter {
            #newsletter {
                background: #ffffff;
                background-clip: padding-box;
                border-top-left-radius: 8px 8px;
                border-bottom-left-radius: 8px 8px;
                border: -1px solid #c2c2c2;
                font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 14px;
                height: 50px;
                line-height: 1.42857143;
                padding: 0 9px;
                vertical-align: baseline;
                width: 100%;
                box-sizing: border-box;
            }
            .field {
                .control {
                    &::before {
                        display: none;
                    }
                }
            }
            .content {

                padding-right: 15px;
                padding-left: 7px;

                .subscribe {
                    background-color: #153b81;
                    border-radius: 0px 8px 8px 0px;
                }

                .icon-subscribe {
                    height: 50px;
                    border: none;
                }
            }

        }
        .contenedor-espacio {

            .contenedor-espacio1 {
                margin-bottom: 3rem;
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;

                .colunna1 {
                    margin-bottom: 3rem !important;
                    flex: -8 0 100%;
                    max-width: 100%;
                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    .imagen-logo {
                        margin-left: -1rem;
                        width: 150px;
                        height: 100px;
                    }

                    .tres {
                        display: grid;
                        margin-bottom: 1.5rem;

                        .a-numerom {
                            margin-bottom: 2rem;
                            color: rgba(255, 255, 255, .7);
                            text-decoration: none;
                            font-size: -0.125rem;
                            font-family: 'Outfit';

                            &:hover {
                                color: white;
                            }
                        }

                        .footer-img {
                            margin-left: -10px;
                        }
                    }
                }


                .colunna2 {
                    margin-bottom: 3rem;
                    flex: 0 0 50%;
                    max-width: 50%;
                    position: relative;
                    width: 100%;

                    .h4-texto {
                        color: #fff;
                        padding-left: 11px;
                    }

                    .cu-services {
                        padding-left: -1px;
                    }

                    .listas {
                        padding: 0px;

                        .li-2 {
                            margin-left: 13px;

                        }

                        li {
                            list-style: none;
                            margin-bottom: 20px;
                            margin: 13px;

                            .a-numerom2 {
                                margin-bottom: 2rem;
                                color: rgba(255, 255, 255, .7);
                                list-style: none;
                                text-decoration: none;
                                font-size: 13px;

                                font-family: 'Outfit';

                                &:hover {
                                    color: white;
                                }
                            }
                        }
                    }
                }

                .rojo {
                    width: 100%;

                    .tex-subs {
                        color: #fff;
                        font-size: -0.125rem;
                        margin-bottom: 15px;
                    }

                    .titulo-lista {
                        color: rgba(255, 255, 255, .7);
                        font-size: -0.125rem;
                        margin: 35px 0 25px;

                    }

                    .redes-sociales {
                        display: flex;


                        .bi {
                            color: #77838f;
                            margin-right: 20px;

                            &:hover {
                                background-color: #77838f;
                                height: 25px;
                                border-radius: 2px;

                            }

                        }

                    }

                }
            }

            .contenedor-dos {
                padding-top: 2rem;
                align-items: center;
                display: flex;
                margin-right: 0px;
                margin-left: -15px;

                .corto {
                    flex: 0 0 41.66667%;
                    max-width: 41.66667%;
                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    .dentro {
                        color: #77838f;
                        font-size: 85%;
                        font-weight: 400;

                    }
                }

                .largo {
                    color: #77838f;
                    font-size: 85%;
                    font-weight: 400;

                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    .dentro {
                        color: #77838f;
                        font-size: 85%;
                        font-weight: 400;

                    }
                }
            }
        }


    }

}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .page-footer {
        .foother {
            .contenedor-espacio {
                margin-left: auto;
                margin-right: auto;
                max-width: 540px;
            }
        }
    }

    // @media only screen and(min-width: 767px) {
    //     .page-footer {
    //         .footer {
    //             .foother{
    //                 .rojo {

    //                     max-width: 50%;
    //                 }
    //             }
    //         }
    //     }

    // }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {

    .footer{
        .contenedor-espacio{
                padding: 0 15px;
                padding-top: 4rem;
                margin-left: auto;
                margin-right: auto;
                max-width: 720px;

            .contenedor-espacio1{
                .colunna1{
                    max-width: 40%;
                }
                .colunna2{
                    max-width: 25%;
                }
                .rojo{
                    max-width: 50%;
                }
            }
            .rojo{
                .conten_subscribe{
                    max-width: 70%;
                }
            }
        }

    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {

    .footer{
        .contenedor-espacio{
                padding: 0 15px;
                padding-top: 4rem;
                margin-left: auto;
                margin-right: auto;
                max-width: 1140px;

            .contenedor-espacio1{
                justify-content: space-between;
                .colunna1{
                    max-width: 30%;
                }
                .colunna2{
                    max-width: 13%;
                }
                .rojo{
                    max-width: 33%;
                }
            }
        }

    }
}
