//Variables
@color-primario: #01007F;
@color-secundario: #f0f0ed;
@color-variante: #000;
@Fuente1: 'Outfit';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .page-wrapper {

        .page-main>.page-title-wrapper .page-title {
            display: inline-block;
            margin-top: 15px;
            color: #0d3371;
        }
        .nav-sections {
            margin-bottom: 0;
        }
        >.breadcrumbs, >.top-container, >.widget {
            box-sizing: border-box;
            width: 97.5%;
            background: #193472;
            color: white;
            padding: 15px 0;
            font-size: 18px;
            margin: 0 auto;
            padding-left: 2%;
            border-radius: 5px;
            max-width: 1250px;
        }
        .breadcrumbs a:visited {
            color: white;
            text-decoration: none;
            font-weight: 800!important;
        }
        .breadcrumbs .items {
            font-size: 1.2rem;
            color: white;
            font-weight: 800!important;
        }

        .page-header {
            border-top: 3px solid @color-primario;
            .panel.wrapper {
                font-size: 11px;
                color: @color-variante;
                font-family: @Fuente1;
                font-weight: 400;
                line-height: 1.4;
            }
            .header.content {
                padding: 0 15px;
                .logo {
                    display: inline-block;
                    max-width: 50%;
                    margin: 28px 0 0;
                }
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .page-wrapper {
        .page-header {
            border-bottom: 0;
            margin-bottom: 0;
            .header.content {
                max-width: none;
                margin: 0 auto;
                padding: 0 15px;
                a.logo {
                    height: auto;
                    margin: 0;
                }
                .minicart-wrapper {
                    margin-top: 30px;
                    .action.showcart {
                        &:before {
                            font-size: 31px;
                            line-height: 35px;
                            color: @color-primario;
                            content: '\F408';
                            font-family: 'bootstrap-icons';
                        }
                        &:hover:before {
                            transform: scale(1.03);
                        }
                        .counter.qty {
                            position: absolute;
                            right: 3px;
                            top: 9px;
                            background: none;
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }
                .nav-toggle {
                    right: 45px;
                    margin-right: 20px;
                    left: auto;
                    top: 30px;
                    &:before {
                        font-size: 30px;
                        font-weight: 600;
                        color: @color-primario;
                    }
                }
                .block-search {
                    .block-content {
                        .form.minisearch {
                            .field.search {
                                .control {
                                    input {
                                        padding: 20px;
                                        border-radius: 30px;
                                        width: 75%;
                                        margin-left: 12%;
                                    }
                                }
                                .label {
                                    width: auto;
                                    margin-right: 10px;
                                    margin-top: 25px;
                                    margin-left: 0;
                                    padding-right: 40px;
                                    &:before {
                                        font-size: 30px;
                                        line-height: 28px;
                                        color: @color-primario;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-sections {
            background-color: #f6f6f6;
            .nav-sections-items {
                .nav-sections-item-title.active {
                    background-color: transparent;
                    height: 63px;
                    a {
                        color: @color-primario;

                    }
                    &[aria-controls="store.menu"] {
                        &::before {
                            content: '\e609';
                            font-family: 'luma-icons';
                            color: @color-primario;
                        }
                    }
                }
                .nav-sections-item-title {
                    background-color: @color-primario;
                    height: 63px;
                    a {
                        color: #FFF;

                    }
                    &[aria-controls="store.menu"] {
                        &::before {
                            content: '\e609';
                            font-family: 'luma-icons';
                            color: #FFF;
                        }
                    }
                }
                .nav-sections-item-content {
                    padding: 0;
                    margin-top: 63px;
                    .navigation {
                        background: transparent;
                        .ui-menu {
                            li {
                                border-bottom: 1px solid #d1d1d1;
                                border-top: 0;
                                font-family: @Fuente1;
                                font-size: 13px;
                                line-height: 16px;
                                a {
                                    padding: 13px 36px 13px 15px;
                                    color: #777;
                                    border-color: none;
                                    border-style: none;
                                    border-width: none;
                                    span {
                                        margin-left: 0;
                                    }
                                }
                                .submenu {
                                    background: #f2f2f2;
                                    .ui-menu-item {
                                        padding: 0 20px;
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                    }
                    .header.links {
                        display: flex;
                        flex-direction: column;
                        li {
                            border-top: none;
                            border-bottom: 1px solid #ddd;
                            padding: 12px 20px;
                            font-size: 13px;
                            font-weight: 400;
                            border-bottom: 1px solid #d1d1d1;
                            a {
                                border-top: none;
                                color: #777;
                                padding: 0;
                            }
                        }
                        .greet.welcome {
                            span {
                                color: #000;
                            }
                        }
                        .link-image {
                            order: 1;
                        }
                        .customer-welcome {
                            padding: 0;
                            .customer-menu {
                                .header.links {
                                    .link-image {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
        .page-main {
            padding-top: 50px;
            .columns {
                .block-collapsible-nav {
                    top: 0px;
                    .block-collapsible-nav-title {
                        border-top: none;
                    }
                }
            }
        }
    }
    .cms-home {
        .page-wrapper {
            .page-header {
                .header.content {
                    .minicart-wrapper {
                        .action.showcart {
                            .counter.qty {
                                right: 6px;
                            }
                        }
                    }
                }
            }
        }
    }

}


//
//  Espacial para BLOQUE DE BUSAQUEDA
//  _____________________________________________
@media (min-width: 769px) and (max-width: 991px) {
    .page-wrapper .page-header .header.content .block-search {
        max-width: 240px;
        margin-left: 20%;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-wrapper {
        .page-header {
            display: block;
            border-top: 3px solid @color-primario;
            border-bottom: none;
            .panel.wrapper {
                width: 100%;
                height: 45px;
                background-color: @color-secundario;
                .panel.header {
                    max-width: 1280px;
                    margin: 0 auto;
                    padding: 11px 15px;
                    .header.links {
                        display: flex;
                        float: right;
                        margin: 0;
                        padding: 0;
                        li {
                            align-self: center;
                            font-size: 11px;
                            font-family: @Fuente1;
                            text-transform: uppercase;
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            a {
                                display: inline-block;
                                padding: 0 15px;
                                border-left: 1px solid #ccc;
                                text-transform: uppercase;
                                cursor: pointer;
                                color: @color-primario;
                                span {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                        .greet.welcome {
                            padding: 0 15px;
                            span {
                                align-self: center;
                            }
                        }
                        .link-image {
                            margin-right: 0;
                            order: 1;
                            a {
                                padding: 0 4px 0 15px;
                            }
                        }
                        .authorization-link {
                            &::after {
                                content: none;
                            }
                        }
                        .customer-welcome {
                            height: 16px;
                            padding: 0 15px;
                            border-left: 1px solid #ccc;
                            .customer-name {
                                .action.switch{
                                    color: @color-primario;
                                }

                            }
                            .customer-menu {
                                .header.links {
                                    display: flex;
                                    flex-direction: column;
                                    margin-top: 7px;
                                    li {
                                        align-self: flex-start;
                                        a {
                                            color: #777;
                                            padding: 8px 5px;
                                            width: 175px;
                                            border-left: none;
                                            &:hover {
                                                color: @color-secundario;
                                                background: @color-primario;
                                            }
                                        }
                                    }
                                    .link-image {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .header.content {
                padding: 0 15px;
                .logo {
                    display: inline-block;
                    max-width: 50%;
                    margin: 28px 0 0;
                    img {
                        width: 170px;
                        height: 114px;
                    }
                }

                .minicart-wrapper {
                    position: absolute;
                    top: 50%;
                    right: 13px;
                    margin-top: -20px;
                    .action.showcart {
                        &:before {
                            color: @color-primario;
                            content: '\F408';
                            font-family: 'bootstrap-icons';
                            font-size: 35px;
                            line-height: 35px;
                        }
                        &:hover:before {
                            transform: scale(1.03);
                        }
                        .counter.qty {
                            position: absolute;
                            right: 5px;
                            top: 9px;
                            background: none;
                            font-size: 15px;
                            font-weight: bold;
                        }
                    }
                }

                .block-search {
                    position: relative;
                    top: 70px;
                    display: inline-block;
                    margin-left: 20%;
                    width: 450px;
                    color: #777;
                    float: none;
                    .block-content {
                        .form.minisearch {
                            .field.search {
                                .control {
                                    input {
                                        background-color: #fff;
                                        color: #777;
                                        border-color: #dbe0e2;
                                        font-size: 13px;
                                        position: static;
                                        margin: 0;
                                        height: 40px;
                                        border-radius: 20px;
                                        padding: 10px 50px 10px 20px;
                                        &:focus {
                                            box-shadow: 0 0 3px 1px #68a8e0;
                                        }
                                        &::-webkit-input-placeholder {
                                            color: #8d8d8d;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .actions {
                        .action.search {
                            position: absolute;
                            right: 2px;
                            border-left: 1px solid #ccc;
                            padding: 0 13px;
                            height: 40px;
                        }
                    }
                }
            }
        }
        .nav-sections {
            margin-bottom: 15px;
            background-color: #FFFFFF;
            .section-items {
                .section-item-content {
                    .navigation {
                        max-width: 1280px;
                        padding: 0 15px;
                        background-color: transparent;
                        .ui-menu {
                            font-family: Outfit;
                            font-size: 12px;
                            font-weight: 700;
                            padding: 0;
                            background-color: @color-secundario;
                            border-radius: 5px;
                            li {
                                a {
                                    text-transform: uppercase;
                                    color: @color-primario;
                                    &:hover {
                                        color: #FFFFFF;
                                        background-color: @color-primario;
                                        border-radius: 5px;
                                    }
                                    .ui-menu-icon {
                                        display: none;
                                        &:hover {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        .level0.active {
                            .level-top {
                                border-color: @color-primario;
                                &:hover {
                                    border-color: #DDD;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .cms-home {
        .page-wrapper {
            .page-header {
                .header.content {
                    .minicart-wrapper {
                        .action.showcart {
                            .counter.qty {
                                right: 8px;
                            }
                        }
                    }
                }
            }
        }
    }

}
