@title-Color: #1b1b1f;
@parrafoColor: #7b88a8;
@ColorSecundario: #153b81;
@fontFamily: Montserrat, sans-serif;

//
//  Common
//  _____________________________________________
& when (@media-common =true) {
   .cms-home {

    .mfp-move-from-top.mfp-ready.mfp-bg {
        opacity: 0.38;
    }
    .mfp-bg{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1042;
        overflow: hidden;
        position: fixed;
        background: #0C0C0C;
        opacity: 0.38;
    
    }


    .mfp-content {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        text-align: left;
        z-index: 1045;
        margin-top: 50px;

        .white-popup{
            position: relative;
            background: #FFF;
            padding: 0;
            margin: 0 auto;
            border-radius: 8px;
            width: 546px;
            height: 490px;

            button.mfp-close{
                bottom: 20.83%;
                right: 1.83%;
                top: 2.83%;
                // color: #0C0C0C !important;
                font-weight: 100;
            }

            .block-container{

                .social-login-title {
                    display: none;
                 }
                 
                .block {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    .block-title{
                        margin-top: 30px;
                        // border-bottom: none !important;
                        text-align: center;
                        padding-top: 15px;

                        #block-customer-login-heading{
                            font-family: 'Barlow';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 130%;
                            color: #0C0C0C;
                        }
                    }

                    .block-content{
                        .form-customer-login{
                            .fieldset {
                                .email, .password{
                                    margin: 0px 0 7px;
                                    .label{
                                        font-family: 'Barlow';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 170%;
                                        text-align: left;
                                        color: #434447;
                                    }

                                    .label:after{
                                        color: #fff;
                                        font-size: 1.2rem;
                                        margin: 0 0 0 5px;
                                    }

                                    .control{

                                        input[type="email"]{
                                            width: 373px;
                                            height: 48px;
                                            border: 1px solid #EAECEE;
                                            border-radius: 8px;
                                        }

                                        [type="password"]{
                                            width: 373px;
                                            height: 48px;
                                            border: 1px solid #EAECEE;
                                            border-radius: 8px;
                                        }
                                    }
                                }

                                .password{
                                    padding-bottom: 24px;

                                }


                                .actions-toolbar{
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    align-items: center;
                                    margin: 12px 0px 12px 0px;
                                    .primary{
                                        .login{
                                            width: 198px;
                                            height: 48px;
                                            background-color: #0D717F !important;
                                            border-radius: 30px;

                                            .create{
                                                span{
                                                    font-family: 'Barlow';
                                                    font-style: normal;
                                                    font-weight: 500;
                                                    font-size: 16px;
                                                    line-height: 16px;
                                                    color: #0D717F;
                                                }
                                            }
                                           
                                        }


                                    }
                                    .secondary{
                                        position: absolute;
                                        right: 13%;
                                        bottom: 37%;

                                        .remind{
                                            span{
                                                font-family: 'Barlow';
                                                font-style: normal;
                                                font-weight: 500;
                                                font-size: 16px;
                                                line-height: 16px;
                                                color: #0D717F;
                                            }
                                        }
                                    }

                                    .primary{ 
                                       
                                        .create{
                                            display: none;
                                                span{
                                                    font-family: 'Barlow';
                                                    font-style: normal;
                                                    font-weight: 500;
                                                    font-size: 16px;
                                                    line-height: 16px;
                                                    color: #0D717F;

                                                   &:before{
                                                    content: '¿No tiene cuenta?';
                                                    color: #0C0C0C;
                                                    font-family: 'Barlow';
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    font-size: 14px;
                                                    line-height: 170%;
                                                    margin-right: 5px;
                                                   }
                                                }

                                               
                                            }
                                           
                                        }
                                   
                                }
                            }
                        }
                    }
                }
            }
        }
    }
        
        
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
.mfp-content{
    #social-login-popup{
        width: auto;
        height: 460px;

        .block-container{

            
                .block{

                    .block-title{
                        padding: 0;
                    }
                    .block-content{
                        .form-customer-login{
                            .fieldset{
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .email, .password{
                                    .label{
                                        width: e("calc( (100%) * 0.25 - 26px );");
                                        text-align: right;
                                    }

                                    .control{
                                        input[type="email"]{
                                            width: 300px;
                                            
                                        }

                                        [type="password"]{
                                            width: 300px;
                                            
                                        }
                                    }
                                }
                            .actions-toolbar{
                                .secondary{
                                    position: absolute;
                                    left: 21%;
                                    bottom: 38%;

                                   
                                 }
                            }
                                
                            }
                        }
                    }

                   
                }
                        
            
        }

      
    }
    
}
    
}
//
// Tablet
// ----------------------------------------------
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m)  {
    
    .mfp-content{
        #social-login-popup{
            width: 500px;
           

        
        }
    }
}
//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    
   
    

}
//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {
    


}



