@title-Color: #1b1b1f;
@parrafoColor: #7b88a8;
@ColorSecundario: #6a35ff;
@fontFamily: Montserrat, sans-serif;
//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .bloqueUno{
        text-align: center;
        align-items: center;
        .contBloqueuno{
            background-image: url("https://uploads-ssl.webflow.com/5ff9f08ad0f45f13b2c0e743/5ff9f08a3928de6bc9400858_Pattern.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1810px;
            background-position-y: 153px;
            width: 100%;
            text-align: center;
            .container1{
                margin-bottom: 45px;
                .titulo1 {
                    font-family: @fontFamily;
                    font-size: 36px;
                    color: @title-Color;
                    line-height: 1.2;
                    font-weight: 700;
                    margin-bottom: 24px;
                    letter-spacing: -0.03em;
                }
                .parrafo1{
                    font-family: @fontFamily;
                    color: @parrafoColor;
                    //max-width: 700px;
                    font-size: 19px;
                    line-height: 1.5;
                    font-weight: 400;
                    margin-bottom: 30px;
                }
                .botton1{
                    font-size: 16px;
                    color: @ColorSecundario;
                    padding: 12px 40px;
                    border-radius: 6px;
                    border: 1px solid @ColorSecundario;
                    background-color: transparent;
                    margin-bottom: 20px;
                    min-height: 60px;
                }
            }
            .containerImg{
                .imgIzquierda{
                    display: none;
                }
                .imgDerecha{
                    display: none;
                }
            }
        }
    }


    .bloqueCuatro{
        .content-servicio{
        padding: 100px 3%;
        background-color: transparent;
        font-family: Montserrat, sans-serif;
        padding-bottom: 80px;
        padding-top: 80px;

                .title-wrap{
                    
                    display: flex;
                    margin-right: auto;
                    margin-bottom: 30px;
                    margin-left: auto;
                    justify-content: center;
                    align-items: center;
                    color: #1b1b1f;
                    text-align: center;
                    
                        .heading-9{
                            margin-top: 20px;
                            margin-bottom: 20px;
                            font-size: 34px;
                            line-height: 1.1;
                            font-weight: 500;
                            letter-spacing: -0.03em 
                        }
                }

            .container-card{
                width: 100%;
                max-width: 1280px;
                margin-right: auto;
                margin-left: auto;

                .w-layout-grid{
                    .feature-card{
                        padding-right: 24px;
                        padding-left: 24px;
                        padding-top: 36px;
                        padding-bottom: 36px;

                        .value-icon{
                            width: 60px;
                            margin-bottom: 10px;
                        }

                        .value-icon-large{
                            width: 90px;
                            margin-bottom: 10px;
                        }

                        .paragraph-large.paragraph-bold {
                            margin-bottom: 12px;
                            font-family: Montserrat, sans-serif;
                            color: #1b1b1f;
                            font-size: 28px;
                            font-weight: 700;
                        }

                        .paragraph {
                            font-family: Montserrat, sans-serif;
                            font-size: 18px;
                            line-height: 1.6;
                            font-weight: 400;
                            margin-bottom: 10px;
                            color: #7b88a8;
                        }

                        .link-arrow{
                            display: flex;
                            margin-top: 20px;
                            padding-top: 18px;
                            padding-bottom: 18px;
                            -webkit-align-items: center;
                            -ms-flex-align: center;
                            align-items: center;
                            color: #6a35ff;
                            font-size: 18px;
                            font-weight: 600;
                            text-decoration: none;
    
                        }
                    }
                }  
            }   
        }

    }

    .bloqueCinco{
        
            .feature-section-blue{
                background-repeat: no-repeat;
                padding: 100px 3% 120px;
                
                .container-small{
                    
        
    
                    .title-wrap-large-centre{
                        margin-bottom: 40px;
                        text-align: center;
        
                        .heading-9 {
                            font-family: Montserrat, sans-serif;
                            font-size: 34px;
                            margin-bottom: 10px;
                            line-height: 1.1;
                            letter-spacing: -0.03em;
                            font-weight: 500;
                        }
        
                    }
    
                    .w-layout-grid{
                        .feature-block-white{
                            
                            max-width: 400px;
                            margin-right: auto;
                            margin-left: auto;
                            -webkit-box-align: center;
                            -webkit-align-items: center;
                            -ms-flex-align: center;
                            align-items: center;
                            padding: 24px 32px 32px;
                            margin: 0;

                            .content-img{
                                text-align: center;
                                width: 100%;
                            }

                            .icon-medium{
                                width: 64px;
                                margin-bottom: 24px;
                            }

                            .paragraph-large{
                                margin-bottom: 4px;
                                font-family: Montserrat, sans-serif;
                                color: #1b1b1f;
                                font-size: 22px;
                                line-height: 30px;
                                font-weight: 500;
                                letter-spacing: -0.01em;
                                text-decoration: none;
                            }

                            .paragraph {
                                font-family: Montserrat, sans-serif;
                                font-size: 18px;
                                line-height: 1.6;
                                font-weight: 400;
                                margin-bottom: 10px;
                                color: #7b88a8;
                            }
                        }
                    }
        
                    
                }
                }
                
        
        }

    .contBloqueDos {
        text-align: center;
        padding: 242px 0;
        .titulo2{
            color: @title-Color;
            font-size: 34px;
            line-height: 1.3em;
            margin: 10px 0 24px;
            font-weight: 500;
        }
        .parrafo2 {
            font-family: @fontFamily;
            color: @parrafoColor;
            font-size: 18px;
            line-height: 1.5;
            font-weight: 400;
            margin-bottom: 30px;
        }
        .containerImg2{
            display: grid;
            gap: 16px;
            .cont_Img {
                min-height: 100px;
                max-width: 260px;
                margin: auto;
                ._Img {
                    width: 143px;
                }
            }

        }
    }

    .contBloqueTres{
        .cont1-blocTres{
            padding: 10px;
            .titulo2 {
                font-size: 36px;
                font-family: @fontFamily;
                color: @title-Color;
                line-height: 1.3em;
                font-weight: 500;
                margin: 20px 0;
                letter-spacing: -0.03em;
            }
            .parrafo2 {
                font-family: Montserrat, sans-serif;
                font-size: 18px;
                line-height: 1.6;
                font-weight: 400;
                color: @title-Color;
            }
            .cont-link {
                display: flex;
                margin: 20px 0 0 0;
                padding: 18px 0;
                align-items: center;
                .a-link {
                    margin-right: 14px;
                    font-family: @fontFamily;
                    color: @ColorSecundario;
                    font-size: 18px;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }
        .cont2-blocTres{
            img {
                border-radius: 24px;
            }
        }

    }

}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .bloqueCuatro{
      .content-servicio{
        .title-wrap{
            .heading-9 {
                font-family: Montserrat, sans-serif;
                color: #1b1b1f;
                font-weight: 500;
            }
        }
        .container-card{

           .w-layout-grid{
            display: grid;
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows: auto auto;
            grid-template-rows: auto auto;
            grid-row-gap: 16px;
            grid-column-gap: 16px;
           } 

           .content-feature {
            -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
        }
        
        }
      }
    }

    
}
