//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-cart-index{
        .page-title-wrapper{
            .page-title{
                font-size: 20px;
            }
        }
            .page-wrapper{
            .page-main{
                .columns{
                    .column{
                        .cart-container{
                            display: flex;
                            flex-wrap: wrap;
                            .cart-summary{
                                
                                padding: 1px 18px 25px;
                                .summary{
                                 font-weight: 400;
                                }
                                .checkout-methods-items{
                                    .item{
                                        .checkout{
                                            padding: 7px;
                                            background: #0d3371;
                                        }
                                    }
                                }
                                #block-shipping{
                                    color: #333333;
                                }
                            }
                            .form-cart{
                                .actions{
                                    display: flex;
                                    justify-content: flex-end;
                                    .update{
                                        background: #fff;
                                        font-size: 2rem;
                                        color: #9c9a9a;
                                        padding: 7px 9px;
                                    }
                                }
                                .table-wrapper{
                                    .table{
                                            .item{
                                            .item-info{
                                                [data-th="Item"]{
                                                    .product-item-photo{
                                                        padding-right: 0;
                                                    }
                                                    padding: 6px 0px 1px 0px;
                                                   .product-item-details{
                                                    .product-item-name{
                                                        padding: 85px 0 0px;
                                                        font-size: 1.3rem;
                                                        font-weight: 600;
                                                        
                                                        a{
                                                            color: #0d3371;
                                                        }
                                                    }
                                                   }
                                                }
                                                .field{
                                                    padding: 70px 0 0px;
                                                    text-align: center;
                                                    .control{
                                                        .input-text{
                                                            height: 35px;
                                                            margin-top: -7px;
                                                            text-align: center;
                                                            width: 45px;
                                                        }
                                                    }
                                                }
                                                .price-excluding-tax{
                                                    padding: 68px 0 0px;
                                                    text-align: center;
                                                    .cart-price{
                                                        .price{
                                                            color: #444444;
                                                            font-weight: 600;
                                                            font-size: 16px;
                                                        }
                                                    }
                                                }
                                                .subtotal{
                                                    .price-excluding-tax{
                                                        padding: 68px 0 0px;
                                                        text-align: center;
                                                        .cart-price{
                                                            .price{
                                                                color: #0d3371;
                                                                font-weight: 600;
                                                                font-size: 16px;
                                                            }
                                                        }
                                                    }  
                                                }
    
                                            }
                                            .item-actions{
                                                .actions-toolbar{
                                                    .action-edit{
                                                        &::before{
                                                            color: #213579;
                                                        }
                                                    }
                                                    .action-delete{
                                                        &::before{
                                                            color: #213579;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        thead{
                                            tr{
                                                .price{
                                                    text-align: center;
                                                }
                                                .qty{
                                                    text-align: center;
                                                }
                                                .subtotal{
                                                    text-align: center;
                                                }
                                            }    
                                        }
                                    }
                                }
                            }
                            .cart-discount{
                                .block{
                                    .title{
                                        #block-discount-heading{
                                            font-weight: 600;
                                            color: #0d3371;
                                            font-size: 20px;
                                        }
                                        &::after{
                                            display: none;
                                        }
                                    }
                                    [aria-labelledby="block-discount-heading"]{
                                        #discount-coupon-form{
                                            width: 405px;
                                                .field{
                                                    width: 208px;
                                                    .control{
                                                        .input-text {
                                                            border: 1px solid #eeeeee;
                                                            font-size: 12px;
                                                            border-radius: 1px;
                                                            height: 38px;
                                                        }
                                                    }
                                                }
                                            .actions-toolbar{
                                                .primary{
                                                    background: #0d3371;
                                                }
                                                .action{
                                                    padding: 11px 12px;
                                                    color: #f7f4f4;
                                                    font-size: 1.9rem;
                                                    border: none;
                                                    box-shadow: none;
                                                }
                                            }
                                            
                                        }
                                    }
                                }
                               
                                
                            }
                            
                            
                        }
                    }
                }
            }
            }
    }
}

//
//  Mobile
//  _____________________________________________

@media only screen and(max-width: 846px) {
    .checkout-cart-index{
        .page-wrapper{
            .page-main{
                .columns{
                    .column{
                        .cart-container{
                            .cart-summary{
                                width: 100%;
                                padding: 1px 20px 25px;
                                position: initial;
                                order: 1;
                            }
                            .form-cart{
                                width: 100%;
                                padding-right: 4%;
                                position: relative;
                            }
                        }
                    }
                }
            }
            }
    }
    
}

//
//  Desktop
//  _____________________________________________

@media only screen and(min-width: 846px) {
    .checkout-cart-index{
        .page-wrapper{
            .page-main{
                .columns{
                    .column{
                        .cart-container{
                            
                            .cart-summary{
                                order: 2;
                                padding: 1px 20px 25px;
                                width: 33.3%;
                            
                                .checkout-methods-items{
                                    margin: 0px;
                                }
                            }
                            .form-cart{
                                width: 66%;
                                float: left;
                                order: 1;
                                padding-right: 2%;
    
                                .table-wrapper{
                                    .table{
                                            .item{
                                            .item-info{
                                                .price-excluding-tax{
                                                    text-align: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .cart-discount{
                                order: 3;
                            } 
                        }
                    }
                }
            }
        }
    }
   

}
