<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AgSoftware_OffertBlock::offertblock"
             title="Offert Blocks" translate="title"
             module="AgSoftware_OffertBlock" sortOrder="80"
             parent="Magento_Backend::content_elements"
             action="offertblockadmin/offertblock/index"
             resource="AgSoftware_OffertBlock::offertblock"/>

        <!--<remove id="Magento_Marketplace::partners"/>-->
        <!--<update id="Magento_Backend::content_elements" parent="Magento_Catalog::catalog"/>-->

    </menu>
</config>
